{% extends 'base.html.twig' %}

{% block title %}Contact {% endblock %}

{% block body %}

<div class="container">

    <div class="row my-5">
        <div class="col-12 text-center titre orange rounded-circle">
            <h1 class="">Contact</h1>
        </div>
    </div>
    
    {{ form_start(contactForm) }}

        <div class="row orange rounded-top">
            <div class="col-4 offset-2">
                {{ form_row(contactForm.first_name, {
                    'label': 'Prénom'
                }) }}
            </div>
            <div class="col-4 orange">
                {{ form_row(contactForm.last_name, {
                    'label': 'Nom'
                }) }}
            </div>
        </div>

        <div class="row orange">
            <div class="col-4 offset-2">
                {{ form_row(contactForm.company, {
                    'label': 'Entreprise'
                }) }}
            </div>
            <div class="col-4">
                {{ form_row(contactForm.email, {
                    'label': 'Email'
                }) }}
            </div>
        </div>

        <div class="row orange">
            <div class="col-4 offset-2">
                {{ form_row(contactForm.subject, {
                    'label': 'Objet'
                }) }}
            </div>
            <div class="col-4">
                {{ form_row(contactForm.attachment, {
                    'label': 'Pièce-jointe'
                }) }}
            </div>
        </div>

        <div class="row orange">
            <div class="col-8 offset-2">
                {{ form_row(contactForm.message, {
                    'label': 'Message'
                }) }}
            </div>
        </div>

        <div class="row mb-5 orange rounded-bottom">
            <div class="col-8 offset-2 text-end">
                <a href="{{ path('/accueil') }}" class="btn btn-lg btn-success"> Envoyer </a>
            </div>
        </div>

    {{ form_end(contactForm) }}

</div>

{% endblock %}
