{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

<h1 class="text-center my-5"> Liste des Utilisateurs </h1>

<div>
    <table class="table table-hover text-center align-middle">
        <thead>
            <tr>
                <th> Nom de l'utilisateur</th>
                <th> Email </th>
                <th> Roles </th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr> 
                <td> {{ user.firstName ~ ' ' ~ user.lastName|upper }} </td>
                <td> {{ user.email }} </td>
                <td> {{ user.roles|join(' + ')|replace({'ROLE_': '' })|replace({' + USER': ''}) }} </td>
                <td> <a href="{{ path('user_delete', {'id': user.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette utilisateur ?')" class=""><i class="bi bi-trash text-danger"></i> </a> </td>
            </tr>
            {% else %}
                <tr class="text-center">
                    <td colspan="4">Aucun Utilisateur trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-end">
    <a href="{{ path('user_create') }}" class="btn btn-success"> Ajouter </a>
    </div>
</div>

{% endblock %}
