{% extends 'baseAdmin.html.twig' %}

{% block title %} Créer un utilisateur {% endblock %}

{% block body %}

    

    {{ form_start(userForm) }}
            <button class="btn btn-success"> Créer </button>
            <br>
            {{form_label(userForm.email, 'e-mail')}}
            {{ form_widget(userForm.email)}}

            {{form_label(userForm.lastName, 'Nom')}}
            {{ form_widget(userForm.lastName)}}

            {{form_label(userForm.firstName, 'Prénom')}}
            {{ form_widget(userForm.firstName)}}

            {{ form_label(userForm.phone, 'Numéro de téléphone')}}
            {{ form_widget(userForm.phone)}}
        

    {{ form_end(userForm) }}

{% endblock %}